
.jobheader{
	border: 2px solid #dfdfdf;
	padding: 10px;
	border-style: solid;
}

.main-navbar ul li a{
	font-weight: bold;
	color: #ffffff;
	border-right: 1px;
}

.job-navbar{
	background-color:#000000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,474747+43,2c2c2c+58,131313+100 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 43%, #2c2c2c 58%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(43%,#474747), color-stop(58%,#2c2c2c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#474747 43%,#2c2c2c 58%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#474747 43%,#2c2c2c 58%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#474747 43%,#2c2c2c 58%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#474747 43%,#2c2c2c 58%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.job-leftbar{
	padding-left: 0px;
}

.job-box-header{
	width:100%;
	display:block;
	padding-top:10px;
	height: 60px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e3+0,9a9a9d+13,9a9a9d+100 */
	background: rgb(226,226,227); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,227,1) 0%, rgba(154,154,157,1) 13%, rgba(154,154,157,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,227,1)), color-stop(13%,rgba(154,154,157,1)), color-stop(100%,rgba(154,154,157,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226,226,227,1) 0%,rgba(154,154,157,1) 13%,rgba(154,154,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226,226,227,1) 0%,rgba(154,154,157,1) 13%,rgba(154,154,157,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(226,226,227,1) 0%,rgba(154,154,157,1) 13%,rgba(154,154,157,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(226,226,227,1) 0%,rgba(154,154,157,1) 13%,rgba(154,154,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e3', endColorstr='#9a9a9d',GradientType=0 ); /* IE6-9 */
}

.job-box-header span{
	margin-left:30px;
	font-weight:bold;
}

.job-box-content{
	width:100%;
	display:block;
	border: 2px solid #dfdfdf;
	height:auto;
	padding-left:20px;
	padding-top:20px;
	padding-right:20px;
	padding-bottom:30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+94,eeeeee+100 */
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 94%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(94%,rgba(254,254,254,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 94%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 94%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 94%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(254,254,254,1) 94%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.job-content{
	width:100%;
	display:block;
	
	height:auto;
	
}

.job-content .contenttable tr td{
	height: 40px;
}

.job-input{
	border: 2px solid #ff9900;
	border-radius:6px;
	display:inline;width:200px;
}

.job-input-search{
	border: 3px solid #ff9900;
	border-radius:6px;
}

.job-btn-post-business{
	border: 3px solid #41d6fa;
	border-radius:9px;
	color:#41d6fa;
	font-weight:bold;
}

.job-btn-post-resume{
	border: 3px solid #ff9900;
	border-radius:9px;
	color:#ff9900;
	font-weight:bold;
}

.job-box-content .tablebox-leftbar{
	font-weight:bold;
	margin-left:30px;
	margin-top:10px;
	margin-right:30px;
	margin-bottom:30px;
	width:80%;
}

.job-box-content .tablebox{
	margin-left:30px;
	margin-top:10px;
	margin-right:30px;
	margin-bottom:30px;
	width:90%;
	font-weight:bold;
}

.job-box-content .tablecontent{
	margin-left:30px;
	margin-top:10px;
	margin-right:30px;
	margin-bottom:30px;
	width:90%;
	font-weight:bold;
}

.job-box-content .tablecontent tr:last-child td{
	border-bottom: 1px dashed #d0cdc8;
}

/*************************** HOT JOB TABLE *******************************/
.CSSTableGenerator table{
	width:100%;}
.CSSTableGenerator table tr th{			
	height: 50px;
	font-size:18px;
	color: #ffffff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8665a+2,fbe0dc+6,e8665a+11,e8665a+49,a90118+53,a90118+100 */
	background: #e8665a; /* Old browsers */
	background: -moz-linear-gradient(top, #e8665a 2%, #fbe0dc 6%, #e8665a 11%, #e8665a 49%, #a90118 53%, #a90118 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#e8665a), color-stop(6%,#fbe0dc), color-stop(11%,#e8665a), color-stop(49%,#e8665a), color-stop(53%,#a90118), color-stop(100%,#a90118)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8665a 2%,#fbe0dc 6%,#e8665a 11%,#e8665a 49%,#a90118 53%,#a90118 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8665a 2%,#fbe0dc 6%,#e8665a 11%,#e8665a 49%,#a90118 53%,#a90118 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8665a 2%,#fbe0dc 6%,#e8665a 11%,#e8665a 49%,#a90118 53%,#a90118 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e8665a 2%,#fbe0dc 6%,#e8665a 11%,#e8665a 49%,#a90118 53%,#a90118 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8665a', endColorstr='#a90118',GradientType=0 ); /* IE6-9 */
}
.CSSTableGenerator table tr:first-child th:first-child {
	padding-left:20px;border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.CSSTableGenerator table tr:first-child th:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.CSSTableGenerator table tr td{
	border-bottom: 1px dashed #d0cdc8;
}
.CSSTableGenerator table tr td:first-child{
	padding-left:20px;
	color:#004190;
	font-weight:bold;
}