 @font-face {font-family:'supermarketRegular';
			src:url('f0nt/supermarket-webfont.eot');
			src:url('f0nt/supermarket-webfont.eot?#iefix')format('embedded-opentype'),
			url('f0nt/supermarket-webfont.woff')format('woff'),
			url('f0nt/supermarket-webfont.ttf')format('truetype');
			font-weight:normal;font-style:normal;}

@font-face{
	font-family:'Angsana New';
	src:url('f0nt/angsa.ttf')format('truetype');
	font-weight:normal;font-style:normal;
}
@font-face{
	font-family:'TH SarabunPSK';
	src:url('f0nt/THSarabun.ttf')format('truetype');
	font-weight:normal;font-style:normal;
}


			body {
			    background-color: #FFFFFF;
				font-family: Arial, sans-serif;
			}
